In [1]:
import pandas as pd
import numpy as np
import os
import glob

# --- å°ˆæ¡ˆï¼šè‡ªå‹•åŒ– Excel å ±è¡¨å½™æ•´å·¥å…· ---

# PART 1: è‡ªå‹•ç”¢ç”Ÿæ¨¡æ“¬æª”æ¡ˆ
folder_name = 'Branch_Reports'
if not os.path.exists(folder_name):
    os.makedirs(folder_name)

# ç”¢ç”Ÿå°åŒ—ã€å°ä¸­ã€é«˜é›„åˆ†è¡Œè³‡æ–™
pd.DataFrame({'Branch': ['Taipei']*3, 'Amount': [50000, 80000, 20000]}).to_excel(f'{folder_name}/Report_Taipei.xlsx', index=False)
pd.DataFrame({'Branch': ['Taichung']*2, 'Amount': [30000, 40000]}).to_excel(f'{folder_name}/Report_Taichung.xlsx', index=False)
pd.DataFrame({'Branch': ['Kaohsiung']*3, 'Amount': [120000, 50000, 30000]}).to_excel(f'{folder_name}/Report_Kaohsiung.xlsx', index=False)

print("âœ… æ¨¡æ“¬æª”æ¡ˆå»ºç«‹å®Œæˆï¼")

# PART 2: è‡ªå‹•åŒ–å½™æ•´
print("ğŸš€ é–‹å§‹åŸ·è¡Œè‡ªå‹•åŒ–å½™æ•´...")
all_files = glob.glob(f'{folder_name}/*.xlsx')
all_data_frames = []

for filename in all_files:
    df = pd.read_excel(filename)
    all_data_frames.append(df)

merged_df = pd.concat(all_data_frames, ignore_index=True)

# è¼¸å‡ºç¸½è¡¨
output_file = 'Project4_Final_Master_Report.xlsx'
merged_df.to_excel(output_file, index=False)

print(f"ğŸ‰ è™•ç†å®Œæˆï¼ç¸½æ¥­ç¸¾: {merged_df['Amount'].sum():,}")
print(f"æœ€çµ‚å ±è¡¨: {output_file}")
merged_df

âœ… æ¨¡æ“¬æª”æ¡ˆå»ºç«‹å®Œæˆï¼
ğŸš€ é–‹å§‹åŸ·è¡Œè‡ªå‹•åŒ–å½™æ•´...
ğŸ‰ è™•ç†å®Œæˆï¼ç¸½æ¥­ç¸¾: 420,000
æœ€çµ‚å ±è¡¨: Project4_Final_Master_Report.xlsx

      Branch  Amount
0  Kaohsiung  120000
1  Kaohsiung   50000
2  Kaohsiung   30000
3   Taichung   30000
4   Taichung   40000
5     Taipei   50000
6     Taipei   80000
7     Taipei   20000